{
    "plugins": [
        ["@babel/transform-react-jsx", {
            "pragma": "h"
        }],
        ["@babel/transform-runtime", {
            "regenerator": true
        }],
        ["inline-react-svg", {
            "svgo": {
                "plugins": [
                  {
                    "removeAttrs": { "attrs": "(fill)" }
                  }
                ]
      
              }
        }],
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["last 2 versions"],
                    // "modules": "commonjs"
                }
            }
        ]
    ]
}