{
    "plugins": [
        ["@babel/transform-react-jsx", {
            "pragma": "h"
        }],
        ["@babel/transform-runtime", {
            "regenerator": true
        }],
        ["inline-react-svg"],
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["last 2 versions"],
                    // "modules": "commonjs"
                }
            }
        ]
    ]
}