aiohttp==3.1.0
coloredlogs==9.0
hexdump==3.3
humanfriendly==4.8
psutil==5.4.3
pyasn1==0.1.9
PyJWT==1.6.1
pyserial==3.4
python-engineio==2.0.4
python-socketio==1.9.0
pyxdg==0.25
SecretStorage==2.3.1
six==1.10.0
txaio==2.9.0
urllib3==1.22
Werkzeug==0.14.1
yarl==1.1.1
pyudev==0.21.0
