/* Primary colors */
/* Font */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(partials/custom.css);
@import url(partials/disable-text-select.css);
@import url(partials/horizontal-slider.css);
@import url(partials/jquery-ui.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #000000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 13pt;
  font-weight: 400;
  letter-spacing: 0.075em;
  line-height: 1.65em;
  min-height: 100%;
}

#page-wrapper {
  background-image: url("../img/welcome-screen/kolko-lewe-dolne.svg"), url("../img/welcome-screen/chmurka3-prawa-gorna.png"), url("../img/welcome-screen/chmurka2-lewa-gorna.png"), url("../img/welcome-screen/chmurka1-dolna.png"), url("../img/welcome-screen/kolko-po-prawej.svg"), url("../img/welcome-screen/background.png");
  background-attachment: fixed;
  background-position: 10% 80%, center center, center center, center center, 105% -10%, center center;
  background-repeat: no-repeat;
  background-size: auto 15%, auto 100%, auto 100%, auto 100%, auto 40%, auto 100%;
  padding-top: 0;
}

body.landing #footer {
  background-color: rgba(29, 36, 42, 0.9);
}

body.is-mobile.landing #page-wrapper {
  background: none;
  height: 100%;
}

body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
  background-image: url("../img/welcome-screen/kolko-lewe-dolne.svg"), url("../img/welcome-screen/chmurka3-prawa-gorna.png"), url("../img/welcome-screen/chmurka2-lewa-gorna.png"), url("../img/welcome-screen/chmurka1-dolna.png"), url("../img/welcome-screen/kolko-po-prawej.svg"), url("../img/welcome-screen/background.png");
  background-attachment: fixed;
  background-position: 10% 80%, center center, center center, center center, 105% -10%, center center;
  background-repeat: no-repeat;
  background-size: auto 15%, auto 100%, auto 100%, auto 100%, auto 40%, auto 100%;
  min-height: 100%;
}

body.is-mobile.landing #footer {
  background-color: #1d242a;
}

/*# sourceMappingURL=main.css.map */
