/*
 *                                                  ANIMATIONS
 */

 /*
  *                                             FADE IN
  */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
 *                                              SPIN
 */

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
 *                                                  LOADER
 */
 
#loader {
    display: block;
    position: relative;
    z-index: 1;
    margin: auto;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    -webkit-animation: fadein 4s, spin 2s linear infinite; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s, spin 2s linear infinite; /* Firefox < 16 */
        -ms-animation: fadein 4s, spin 2s linear infinite; /* Internet Explorer */
         -o-animation: fadein 4s, spin 2s linear infinite; /* Opera < 12.1 */
            animation: fadein 4s, spin 2s linear infinite;
}

/*
 *                                                  CAMERA VIDEO
 */
.camera-body {
    overflow: hidden;
}

 #camera-video {
     position: absolute;
     top: 0;
     left: 0;
     margin: 0 0 0 0;
     width: 100%;
     height: 100%;
     cursor: url("../img/cursor.png") 12 12, url("assets/img/cursor.cur") 12 12, auto;
     /* background-image: url("../img/marsyard-camera.jpg"); */
     display: none;
     z-index: 2;
 }

#servo-control-div {
     position: absolute;
     text-align: center;
     bottom: 35vw;
     right: 15px;
     height: 2vw;
     width: 25vw;
     z-index: 10;
 }

 #navigation-ring-div {
     position: absolute;
     text-align: right;
     bottom: 25px;
     right: 15px;
     height: 25vw;
     width: 25vw;
     z-index: 10;
 }

 #navigation-ring-img {
     position: absolute;
     top: 0;
     right: 0;
     max-height: 100%;
     width: auto;
 }

#navigation-ring-canvas {
    position: relative;
    top: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    touch-action: none;
}

#stats-view-div {
    position: absolute;
    left: 25px;
    bottom: 10px;
    height: 40%;
    width: 50%;
    z-index: 10;
    opacity: 0.6;
}

#signal-strength-div {
    text-align: left;
    position: relative;
    height: 30%;
    width: 100%;
}

#signal-strength-img {
    max-height: 100%;
    top: 0;
    left: 0;
    width: auto;
}

#battery-level-div {
    text-align: left;
    position: relative;
    top: 15px;
    height: 30%;
    width: 100%;
}

#battery-level-img {
    max-height: 70%;
    top: 0;
    left: 0;
    width: auto;
}

#session-time-div {
    text-align: left;
    position: relative;
    top: 15px;
    height: 30%;
    width: 100%;
}

#battery-level-indicator-div {
    position: absolute;
    left: 15%;
    top: 0;
    height: 100%;
    width: 10%;
    z-index: 10;
    opacity: 1;
}

#battery-level-indicator-img {
    height: 50%;
    top: 0;
    left: 0;
    width: auto;
}

#signal-level-indicator-div {
    position: absolute;
    left: 20%;
    top: 0;
    height: 100%;
    width: 10%;
    z-index: 10;
    opacity: 1;
}

#signal-level-indicator-img {
    height: 50%;
    top: 0;
    left: 0;
    width: auto;
}

#turtle-logo-div {
    position: absolute;
    left: 2%;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 10;
    opacity: 1;
}

#turtle-logo-img {
    margin-top: 3%;
    max-height: 50%;
    top: 0;
    left: 0;
    width: auto;
}

#main-header-buttons-div {
    position: absolute;
    left: 42%;
    width: 16%;
    height: 100%;
}

#main-header-button-div {
    width: 33%;
    height: 100%;
    text-align: center;
}

    #main-header-button-div.video-button-class {
        float: left;
    }

    #main-header-button-div.snap-button-class {
        display: inline-block;
    }

    #main-header-button-div.fullscreen-button-class {
        float: right;
    }

#main-header-button-img {
    margin-top: 3%;
    max-height: 50%;
    top: 0;
    left: 0;
    width: auto;
    transition: all .2s ease-in-out;
}

#main-header-button-img:hover {
    transform: scale(1.4);
}

#page-wrapper {
     cursor: url("../img/cursor.png") 12 12, url("assets/img/cursor.cur") 12 12, auto;
}

 #camera-video img {
     max-width: 100%;
     height: auto;
     margin: 0 0 0 0;
 }

 /*
 *                                                  TOOGLE BUTTON
 */

 .tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
    float: right;
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #80805c;
  border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #80805c;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #3e3e29;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #3d3d29;
}

 /*
 *                                              BUTTONS LIST
 */
 .tg-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tg-list-item {
  margin: 0 2em;
  width: 100%;
}

.tg-list-item .tg-list-description {
    width: 70%;
    float: left;
}

.tg-list-item .tg-list-button {
    width: 30%;
    float: right;
    text-align: right;
}

/*
 *                                              OTHER
 */
 h3.notification {
     color: grey;
 }

 #full-screen-button-div {
     z-index: 2;
     position: absolute;
     top: 8px;
     right: 120px;
     width: 64px;
     height: 64px;
     text-align: center;
     overflow:hidden;
     cursor: url("../img/cursor.png") 12 12, url("assets/img/cursor.cur") 12 12, auto;
 }

#full-screen-button-centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

 #full-screen-button-img {
     width: 80%;
     height: 80%; 
     max-width: 100%;
     z-index: 2;
     display: inline-block;
     vertical-align: middle;
     transition: all .2s ease-in-out;
     opacity: .3;
 }

 #full-screen-button-img:hover {
     transform: scale(1.2);
     cursor: pointer;
     opacity: 1;
 }

 #camera-video-img {
     position: absolute;
     left: 0px;
     right: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
 }

 #hud-frame-img {
     position: absolute;
     left: 0px;
     top: 0px;
     width: 100%;
     height: auto;
     z-index: 5;
     opacity: 0.1;
 }

  #turtle-top-view-div {
     position: relative;
     left: 10px;
     top: 125px;
     width: 250px;
     height: 125px;
     z-index: 6;
 }

 #turtle-top-view-img {
     position: relative;
     left: 0;
     top: 0;
     width: auto;
     max-height: 100%;
     opacity: 0.4;
 }

 #turtle-top-view-left-top-div {
     position: absolute;
     left: 10px;
     top: 18px;
     width: 50px;
     z-index: 7;
     opacity: 0.8;
 }

  #turtle-top-view-right-top-div {
     position: absolute;
     right: 10px;
     top: 18px;
     width: 50px;
     z-index: 7;
     opacity: 0.8;
 }

   #turtle-top-view-left-bottom-div {
     position: absolute;
     left: 10px;
     top: 95px;
     width: 50px;
     z-index: 7;
     opacity: 0.8;
 }

#turtle-top-view-right-bottom-div {
     position: absolute;
     right: 10px;
     top: 95px;
     width: 50px;
     z-index: 7;
     opacity: 0.8;
 }

 #shellinabox-iframe {
     min-width: 800px;
     min-height: 39vw;
 }

/*
 *  force landscape
 */

@media screen and (orientation: portrait) {
    html {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);

        transform-origin: 0% 0%;
        position: absolute;
        left: 100%;

        width: 100vh;
        height: 100vw;
    }
}