/*
 *                                                  ANIMATIONS
 */

 /*
  *                                             FADE IN
  */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
 *                                              SPIN
 */

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
 *                                                  LOADER
 */
 
#loader {
    display: block;
    position: relative;
    z-index: 1;
    margin: auto;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    -webkit-animation: fadein 4s, spin 2s linear infinite; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s, spin 2s linear infinite; /* Firefox < 16 */
        -ms-animation: fadein 4s, spin 2s linear infinite; /* Internet Explorer */
         -o-animation: fadein 4s, spin 2s linear infinite; /* Opera < 12.1 */
            animation: fadein 4s, spin 2s linear infinite;
}

/*
 *                                                  CAMERA VIDEO
 */
.camera-body {
    overflow: hidden;
}

 #camera-video {
     position: absolute;
     top: 0;
     left: 0;
     margin: 0 0 0 0;
     width: 100%;
     height: 100%;
     cursor: url("../img/cursor.png") 12 12, url("assets/img/cursor.cur") 12 12, auto;
     /* background-image: url("../img/marsyard-camera.jpg"); */
     display: none;
     z-index: 2;
 }

#page-wrapper {
     cursor: url("../img/cursor.png") 12 12, url("assets/img/cursor.cur") 12 12, auto;
}

 #camera-video img {
     max-width: 100%;
     height: auto;
     margin: 0 0 0 0;
 }

 /*
 *                                                  TOOGLE BUTTON
 */

 .tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
    float: right;
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7FC6A6;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #7FC6A6;
}

 /*
 *                                              BUTTONS LIST
 */
 .tg-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tg-list-item {
  margin: 0 2em;
  width: 100%;
}

.tg-list-item .tg-list-description {
    width: 70%;
    float: left;
}

.tg-list-item .tg-list-button {
    width: 30%;
    float: right;
    text-align: right;
}

/*
 *                                              OTHER
 */
 h3.notification {
     color: grey;
 }

 #full-screen-button-div {
     z-index: 2;
     position: absolute;
     top: 20px;
     left: 20px;
     width: 64px;
     height: 64px;
     text-align: center;
     overflow:hidden;
     cursor: url("../img/cursor.png") 12 12, url("assets/img/cursor.cur") 12 12, auto;
 }

#full-screen-button-centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

 #full-screen-button-img {
     width: 80%;
     height: 80%; 
     max-width: 100%;
     z-index: 2;
     display: inline-block;
     vertical-align: middle;
     transition: all .2s ease-in-out;
     opacity: .3;
 }

 #full-screen-button-img:hover {
     transform: scale(1.2);
     cursor: pointer;
     opacity: 1;
 }

 #camera-video-img {
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
 }