#go-button {
    background-image: url("../img/welcome-screen/flash.png"), url("../img/welcome-screen/go-button-1.png");
    background-color: transparent;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%, auto 100%;
    background-position: -18% 0%, center;
    height: 100%;
    width: 100%;
    display: none;
    border: none;
    outline: none;
}

#go-button:hover {
    background-image: url("../img/welcome-screen/flash.png"), url("../img/welcome-screen/go-button-opacity-10.png");
    transition: all .2s ease-in-out;
    background-color: transparent;
    /*transform: scale(1.02);*/
}

#go-button:hover, #go-button:active {
    border: none;
    outline: none;
}

.welcome-screen-wrapper {
    display: inline-block;
    vertical-align: bottom;
    left: 0%;
    padding: 0;
    margin: 0;
    height: 40%;
    width: 100%;
    bottom: 45%;
}

.welcome-screen-horizontal-wrapper {
    position: relative;
    left: 0%;
    width: 100%;
    top: auto;
}

#welcome-screen-horizontal-wrapper-button {
    height: 58px;
    bottom: 0;
    top: auto;
}

#welcome-screen-horizontal-wrapper-text {
    height: 10%;
    top: auto;
    margin: 0;
    padding: 0;
}

#welcome-screen-horizontal-wrapper-logo {
    position: relative;
    height: 60px;
    top: auto;
    margin: 0;
    padding: 0;
}

#welcome-screen-horizontal-logo {
    content:url("../../assets/img/welcome-screen/turtle-logo.svg");
    height: 70%;
    width: auto;
}

#welcome-screen-adventure-text {
    font-family: turtleFontLight;
    font-size: 250%;
    font-weight: 100;
    text-transform: none;
    letter-spacing: normal;
}
.welcome-screen-button {
    width: 25%;
    max-width: 350px;
    height:100%;
    text-align: center;
}
    #welcome-screen-button-left {
        float: left;
    }

    #welcome-screen-button-center {
        position:absolute;
        max-width: 50%;
        width: 129px;
        margin-left: calc((100% - 129px) / 2);
        text-align:center;
    }

    #welcome-screen-button-right {
        float: right;
    }

/*
 *  ANIMATIONS
 */

.welcome-screen-background-circles {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
}

#welcome-screen-background-circle-outer {
    background-image: url("../../assets/img/welcome-screen/kolko-srednie.png");

    -webkit-animation-name: rotate-clockwise;
    -webkit-animation-duration:30s;

    -moz-animation-name: rotate-clockwise;
    -moz-animation-duration:30s;
}

#welcome-screen-background-circle-inner {
    background-image: url("../../assets/img/welcome-screen/kolko-male.png");

    -webkit-animation-name: rotate-counter-clockwise;
    -webkit-animation-duration:45s;

    -moz-animation-name: rotate-counter-clockwise;
    -moz-animation-duration:45s;
}

@-webkit-keyframes rotate-clockwise {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate-clockwise {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}

@-webkit-keyframes rotate-counter-clockwise {
  from {-webkit-transform:rotate(360deg);}
  to {  -webkit-transform:rotate(0deg);}
}

@-moz-keyframes rotate-counter-clockwise {
  from {-moz-transform:rotate(360deg);}
  to {  -moz-transform:rotate(0deg);}
}

#welcome-screen-status-text {
    position:absolute;
    left: 0;
    top: 1vw;
}

    #welcome-screen-status-text > p {
        font-family: turtleFontMono;
        font-size: small;
        text-transform: lowercase;
        font-weight: 100;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1vw;
        line-height: 100%;

        color: rgb(115,115,115);
        list-style: none;

        overflow: hidden;
        white-space: nowrap;
    }

    #welcome-screen-status-text > p:before {
        content: attr(data-content);
        padding-right: 8px;
        padding-left: 0;
        margin-left: 0;
    }

#battery-level-text {
    padding-top: 15px;
    text-transform: none !important;
    border-right: 0px;
}

#signal-strength-text, #processor-temperature-text {
    text-transform: none !important;
    border-right: 0px;
}

.animation-typewriter {
    border-right: 5px solid rgba(255,255,255,.75);
    animation: typewriter 1s steps(20) 0.1s 1 normal both, 1s blinkTextCursor step-end infinite;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from, to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: rgb(115,115,115);;
  }
}