/* Primary colors */
$grey_0: #f4f4f6;
$grey_1: #f0eeef;
$grey_2: #888888;
$grey_3: #333333;
$grey_4: #262626;
$black: #000000;
$light_green: #7fffa0;
$green: #22b14c;

/* Font */
$font-size: 13pt;
$font-color: #ffffff;
$font-weight: 400;
$letter-spacing: 0.075em;
$line-height: 1.65em;