<div id="camera-video">
    <!-- <img id="camera-video-img" src="client/img/marsyard-camera.jpg" draggable="false" onmousedown="return false" style="user-drag: none"> -->
    <!-- <video id="camera-video-img" class="camera-video-drive-mode" draggable="false" onmousedown="return false" style="user-drag: none"></video> -->
    <!-- <img id="hud-frame-img" src="client/img/ui/siatka kropy.svg" draggable="false" onmousedown="return false" style="user-drag: none"> -->
    <!-- <img id="circle-img" src="client/img/ui/kolo1.svg" draggable="false" onmousedown="return false" style="user-dgrag: none"> -->
    <!-- <div class="transparent-background-div" id="transparent-background-camera"></div> -->
    <!-- <canvas style="opacity: 0.0; width: 100%; height:100%" id="snap-background-canvas"></canvas> -->

    <div id="stats-view-div" class="advanced-interface">
        <div id="signal-strength-div">
            <!-- <img id="signal-strength-img" src="client/img/hud/signal/signal-bar-medium.png" draggable="false" onmousedown="return false" style="user-drag: none"> -->
            <h2 id="signal-strength-text">0 %</h2>
        </div>
        <div id="battery-level-div">
            <!-- <img id="battery-level-img" src="client/img/hud/batteries/battery-low.png" draggable="false" onmousedown="return false" style="user-drag: none"> -->
            <h2 id="battery-level-text">0.0 V</h2>
        </div>
        <div id="session-time-div">
            <h2 id="session-time-h1">0:00</h2>
        </div>
    </div>

</div>
