<!-- <div id="gripper-wrapper">
    <div id="gripper-slider-wrapper">
        <div class="flat-slider-wrapper">
            <div class="flat-slider gripper-slider" id="gripper-slider">
                <input type="range" class="flat-slider-horizontal" id="gripper-slider-input" max="3600" min="2400" step="10" value="3000" style="transform: rotateY(180deg);" />
            </div>
            <div id="clear"></div>
        </div>
    </div>
    <div id="gripper-images-wrapper">
        <img src="" class="gripper-img" id="left-gripper-img">
        <img src="" class="gripper-img" id="right-gripper-img">
    </div>
</div> -->

<div class="gripper-control">
    <div class="gripper-control_icons">
        <img src="client/img/ui/gripper-opened.svg" class="gripper-control_icons_icon">
        <img src="client/img/ui/gripper-closed.svg" class="gripper-control_icons_icon">
    </div>
</div>
