<div class="mode-chooser">
    <!-- <div class="grab-drive-class" id="grab-div">
        <p class="grab-drive-text grab-drive-text-empty-dot" id="grab-text">grab</p>
    </div>
    <div class="grab-drive-class" id="drive-div">
        <p class="grab-drive-text grab-drive-text-empty-dot grab-drive-text-filled-dot" id="drive-text">drive</p>
    </div> -->

    <label class="radio">
        <input id="radio1" type="radio" name="radios" checked>
        <span class="outer">
            <span class="inner"></span>
        </span>
        GRAB
    </label>

    <label class="radio">
        <input id="radio2" type="radio" name="radios" checked>
        <span class="outer">
            <span class="inner"></span>
        </span>
        DRIVE
    </label>
</div>
