<div class="joystick">
    <canvas id="navigation-ring-canvas"></canvas>
    <img class="joystick_image" src="client/img/ui/right-krzyz.svg">


    <div id="turtle-top-view-left-top-div" class="advanced-interface">
            <p id="turtle-top-view-left-top-p" class="debug-text">0%</p>
        </div>
        <div id="turtle-top-view-right-top-div" class="advanced-interface">
            <p id="turtle-top-view-right-top-p" class="debug-text">0%</p>
        </div>
        <div id="turtle-top-view-left-bottom-div" class="advanced-interface">
            <p id="turtle-top-view-left-bottom-p" class="debug-text">0%</p>
        </div>
        <div id="turtle-top-view-right-bottom-div" class="advanced-interface">
            <p id="turtle-top-view-right-bottom-p" class="debug-text">0%</p>
        </div>


    <!-- <div id="camera-slider-wrapper">
            <div class="flat-slider-wrapper vranger">
                <div class="flat-slider gripper-slider" id="camera-slider">
                    <input type="range" class="flat-slider-horizontal" id="camera-slider-input" max="3900" min="3300" step="10" value="3600"
                    />
                </div>
                <div id="clear"></div>
            </div>
        </div> -->
</div>
