body {
  background-color: $black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: $font-color;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  min-height: 100%;
  cursor: url("../img/cursor.png") 12 12, url("../img/cursor.cur") 12 12, auto;

}
