/* nav */
.nav {
	@include transition(right 0.5s ease);
	background: $nav-background;
	color: $nav-color;
	font-size: 2rem;
	height: 100vh;
	right: -40%;
	padding: 6rem 2rem 2rem;
	position: fixed;
	top: 0;
	width: 40%;
	z-index: 3;

	&.expanded {
		right: 0;
	}

	ul {
		@include vertical-align();
		list-style: none;
		position: absolute;
		margin: 0;
		padding: 0;
	}
}
