/* nav */
.nav {
	@include transition(right 0.5s ease);
	background: $nav-background;
	color: $nav-color;
	height: 100vh;
	right: -30%;
	position: fixed;
	top: 0;
	width: 30%;
	z-index: 3;
	overflow-y: scroll;

	@include small {
        padding-top: $statusbar-height-small;
    }
    @include medium {
        padding-top: $statusbar-height-medium;
    }

	&.expanded {
		right: 0;
	}

	ul {
		list-style: none;
		position: absolute;
		margin: 0;
		padding: 0;
	}
}
