/* nav */
.settings {
	@include transition(right 0.5s ease);
	background: $background-color;
	color: #ffffff;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
	overflow-y: scroll;

	@include small {
		right: -50%;
		width: 50%;
    }
    @include medium {
        right: -30%;
		width: 30%;
    }

	@include small {
        padding-top: $statusbar-height-small;
    }
    @include medium {
        padding-top: $statusbar-height-medium;
    }

	&-expanded {
		right: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
