.statusbar {
    height: 34px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background-color;
    z-index: 2;
    padding: 12px 0;
    @include small {
        height: 34px;
    }
    @include medium {
        height: 68px;
    }

    &_logo {
        position: absolute;
        left: 10px;
        width: auto;
        @include small {
            top: 8px;
            bottom: 8px;
            height: 18px;
        }
    }
}
