.wrapper {
    background-image: url("../img/welcome-screen/background.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    transition: opacity 0.5s ease;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;

    &:before {
        background: transparent;
        content: '';
        display: block;
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10001;
    }
}
