.button {
    background-color: $background-color;
    border: $green 2px solid;
    padding: 15px;
    color: $green;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;

    &:active {
        background-color: $green;
        color: $background-color;
    }

    &:disabled {
        border: $green_dark 2px solid;
        color: $green_dark;
    }

}

button {
    outline-style: none;

    &:-moz-focusring {
        outline: none;
    }
}