/* Webfont: Lato-Black */
@font-face {
    font-family: 'LatoBlack';
    src: url("../fonts/Lato/Lato-Black.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-Black.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-Black.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-BlackItalic */
@font-face {
    font-family: 'LatoBlack';
    src: url("../fonts/Lato/Lato-BlackItalic.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-BlackItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-BlackItalic.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Bold */
@font-face {
    font-family: 'LatoBold';
    src: url("../fonts/Lato/Lato-Bold.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-Bold.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-BoldItalic */
@font-face {
    font-family: 'LatoBold';
    src: url("../fonts/Lato/Lato-BoldItalic.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-BoldItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-BoldItalic.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Hairline */
@font-face {
    font-family: 'LatoHairline';
    src: url("../fonts/Lato/Lato-Hairline.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-Hairline.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-Hairline.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-HairlineItalic */
@font-face {
    font-family: 'LatoHairline';
    src: url("../fonts/Lato/Lato-HairlineItalic.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-HairlineItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-HairlineItalic.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Heavy */
@font-face {
    font-family: 'LatoHeavy';
    src: url("../fonts/Lato/Lato-Heavy.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-Heavy.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-Heavy.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-HeavyItalic */
@font-face {
    font-family: 'LatoHeavy';
    src: url("../fonts/Lato/Lato-HeavyItalic.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-HeavyItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-HeavyItalic.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Italic */
@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato/Lato-Italic.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-Italic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-Italic.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Light */
@font-face {
    font-family: 'LatoLight';
    src: url("../fonts/Lato/Lato-Light.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-Light.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-Light.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-LightItalic */
@font-face {
    font-family: 'LatoLight';
    src: url("../fonts/Lato/Lato-LightItalic.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-LightItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-LightItalic.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Medium */
@font-face {
    font-family: 'LatoMedium';
    src: url("../fonts/Lato/Lato-Medium.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-Medium.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-Medium.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-MediumItalic */
@font-face {
    font-family: 'LatoMedium';
    src: url("../fonts/Lato/Lato-MediumItalic.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-MediumItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-MediumItalic.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato/Lato-Regular.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-Regular.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Semibold */
@font-face {
    font-family: 'LatoSemibold';
    src: url("../fonts/Lato/Lato-Semibold.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-Semibold.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-Semibold.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-SemiboldItalic */
@font-face {
    font-family: 'LatoSemibold';
    src: url("../fonts/Lato/Lato-SemiboldItalic.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-SemiboldItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-SemiboldItalic.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Thin */
@font-face {
    font-family: 'LatoThin';
    src: url("../fonts/Lato/Lato-Thin.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-Thin.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-Thin.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-Thin.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-ThinItalic */
@font-face {
    font-family: 'LatoThin';
    src: url("../fonts/Lato/Lato-ThinItalic.eot");
    /* IE9 Compat Modes */
    src:url('../fonts/Lato/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Lato/Lato-ThinItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato/Lato-ThinItalic.woff') format('woff'),
    /* Modern Browsers */
    url( '../fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
