/* Primary colors */
$grey_0: #f0eeef;
$grey_1: #d3d3d3;
$grey_2: #888888;
$grey_3: #333333;
$grey_4: #262626;
$background-color: #000000;
$green_light: #7fffa0;
$green: #22b14c;
$green_dark: darken(#22b14c, 10%);

/* Main Font */
$font: LatoWeb;
$font-size: 13pt;
$font-color: #ffffff;
$font-weight: 400;
$letter-spacing: 0.075em;
$line-height: 1.65em;

/* Log Font */
$log-font: monospace;
$log-font-size: 9pt;
$log-line-height: 1.5;

/* topbar */
$topbar-height-small: 34px;
$topbar-height-medium: 68px; 

/* Menu */
$menubar-color: white;
$menubar-height: 2px;
$menubar-width: 25px;
$nav-background: $background-color;
$nav-color: white;
$z-nav-toggle: 2;
