body {
  background-color: $background-color;
  font-family: Lato, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: $font-color;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  min-height: 100%;
  overflow: auto;

  -webkit-tap-highlight-color: transparent; /* for remove highlight */
  user-select: none;

  -webkit-user-callout: none;
  -webkit-touch-callout: none;
}

input, textarea {    
  user-select: text;
  -webkit-user-select: text;
  -webkit-user-callout: default;
  -webkit-touch-callout: default;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

button {
  outline-style:none;
  &:-moz-focusring {
    outline: none;
  }
}