.controls-box-left {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    background: rgba($background-color, 0.6);
    min-width: 250px;

    @include small {
        width: 40vw;
    }

    @include small2x {
        width: 40vw;
    }

    @include medium {
        width: 20vw;
    }

    @include medium2x {
        width: 20vw * 2;
    }
}

.controls-box-right {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    z-index: 1;

    @include small {
        width: 30vw;
        height: 30vw;
    }

    @include small2x {
        width: 30vw;
        height: 30vw;
    }

    @include medium {
        width: 25vw;
        height: 25vw;
    }
}
