.gripperControl {
    position: relative;
    display: flex;
    flex-flow: column;
    &__icons {
        position: relative;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        &__icon {
            margin: 20px 10px 15px;
            @include small {
                height: 34px;
            }

            @include small2x {
                height: (34px / 2);
            }

            @include medium {
                height: 34px;
            }
        }
    }
    &--hide {
        visibility: hidden;
        display: none;
    }
}
