.joystick {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include small {
        width: 30vw;
        height: 30vw;
    }

    @include small2x {
        width: 30vw ;
        height: 30vw ;
    }

    @include medium {
        width: 25vw;
        height: 25vw;
    }

    &__image {
        width: 80%;
        height: auto;
    }

    &--hide {
        visibility: hidden;
    }
}
