.settings {
    background-color: $background-color;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    display: flex;
    color: $grey_1;
    font-family: 'Lato';
    &__sidebar {
        margin: 0;
        padding: 0;
		border-right: 1px solid $grey_4;
		border-left: 1px solid $grey_4;
        overflow-y: auto;
        width: 300px;
        font-family: 'Lato';
    }
    &__settingButton {
        text-transform: uppercase;
        font-size: 24px;
        padding: 25px;
        user-select: none;
        color: $grey_1;
		cursor: pointer;
        @include small {
            font-size: 18px;
        }
        &--selected {
            background-color: $grey_4;
        }
    }
    &__container {
        overflow-y: scroll;
        margin-right: -15px;
        flex-grow: 1;
        width: 100%;
        @include small { }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        margin: 25px;
     }
     
     &__block {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 10px;
        border-bottom: 1px solid $grey_5;
        padding-bottom: 10px;
        &:last-child {
            border-bottom: 0;
        }
     }

    &__section {
        display: flex;
        flex-flow: row wrap;
        color: $grey_2;
        letter-spacing: 0;
    }

    &__subtitle {
        margin: 25px 0 10px 0;
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
        color: $grey_1;
        font-size: 14px;
        position: relative;
        font-family: 'Lato';
        &:first-child {
            margin-top: 0;
        }
        // &::before {
        //     content: '';
        //     border-bottom: solid 1px $grey_3;
        //     position: absolute;
        //     bottom: 5px;
        //     left: 0;
        //     height: 1px;
        //     width: 100%;
        // }
    }
    @include small {
        padding-top: $topbar-height-small;
        width: 100vw;
        height: calc(100vh - #{$topbar-height-small})
    }
    @include medium {
        padding-top: $topbar-height-medium;
        width: 75vw;
        height: calc(100vh - #{$topbar-height-medium});
    }
    @include big {
        width: 50vw;
        height: calc(100vh - #{$topbar-height-medium});
    }
    &-hide {
        display: none;
    }
}