.stream-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.stream {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    &--drive-mode {
        bottom: -30%;
    }

    &--grab-mode {
        bottom: 0;
    }
}
