.topbar {
    height: 34px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background-color;
    z-index: 9;
    border-bottom: 1px solid $grey_4;

    @include small {
        height: $topbar-height-small;
    }

    @include medium {
        height: $topbar-height-medium;
    }

    &__logo {
        position: absolute;
        left: 10px;
        width: auto;
        @include vertical-align();

        @include small {
            height: 18px;
        }

        @include medium {
            height: 36px;
        }
    }

    &__indicators {
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    &__indicator {
        @include vertical-align();
        position: relative;
        width: auto;

        @include small {
            height: 10px;
            margin: 0 10px;
        }

        @include medium {
            height: 20px;
            margin: 0 15px;
        }
    }

    &__actions {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    &__action {
        @include vertical-align();
        position: relative;
        fill: $grey_2;
        cursor: pointer;

        &:hover {
            fill: $grey_1;
        }

        @include small {
            path {
                transform: scale(0.25)
            }
            height: 12px;
            width: 12px;
            margin: 0 10px;
        }

        @include medium {
            path {
                transform: scale(0.5)
            }
            height: 24px;
            width: 24px;
            margin: 0 15px;
        }
    }

    &__settings {
        @include vertical-align();
        position: absolute;
        right: 20px;
    }
}
